*{
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(
        0,0,0,0.75)),url(notoriouss.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 600px;
    position: fixed;
    top: 0;
}
.logo {
    width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 60px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e2540d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #cd5412d0;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #e7580b;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
button:hover span{
    width: 100%;
}
button:hover {
    border: none;
}
.footer {
    padding: 20px 0;
}
.container {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}
.column {
    flex-basis: 23%;
    margin-left: 40px;
    position: relative;
}
.column:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 20px;
}
.column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 80%;
    width: 1px;
    background-color: #fff;
}
h3 {
    margin-top: 20px;
}
p {
    margin-bottom: 30px;
}
.containerune {
    display: flex;
}
.left-column {
    margin-left: 130px;
}
.left-column h5{
    color: #e7580b;
    margin-top: 20px;
    margin-left: 0px;
}
.left-column h2 {
    margin-top: 20px;
}
.left-column p {
    margin-top: 20px;
}
.right-column {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right-column h1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.midright-column {
    background: radial-gradient(circle, rgba(195, 215, 239, 1), rgba(255, 255, 255, 0));;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-left: 130px;
    border-radius: 20px;
    padding: 15px 15px;
    max-width: 300px;
    box-shadow: 0px 2px 6px rgba(77, 136, 194, 0.75);
    margin-top: 30px;
    flex-basis: 48%;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.midrighttop {
    
}
.midrightbottom h3 {
    margin-top: 100px;
    color: #e7580b;
}
.farright-column {
    background: radial-gradient(circle, rgba(195, 215, 239, 1), rgba(255, 255, 255, 0));;
    margin-bottom: 30px;
    justify-content: space-between;
    margin-left: 130px;
    border-radius: 20px;
    padding: 15px 15px;
    max-width: 300px;
    box-shadow: 0px 2px 6px rgba(77, 136, 194, 0.75);
    flex-basis: 48%;
    margin-top: 30px;
}

.onthenews {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: space-between;
}
